# 1. Importing data and libraries <a class="anchor" id="1"></a>

In [1]:
import pandas as pd
import datetime

In [ ]:
#df = pd.read_csv(path,usecols=["ProductName_ID", "Point-of-Sale_ID","Total_Sales"],dtype=dtype_dict)
data = pd.read_csv('NOVAIMS_MAA_final.csv')
data

We have the same number of 'Sell-out values' and 'Sell-out units', meaning that it's always record byt pair of records.

\
**Idea**\
Creating for each combination of ProductFamily_ID, ProductCategory_ID, ProductBrand_ID, ProductName_ID, ProductPackSKU_ID, Point-of-Sale_ID and Date one column for the quantity and one column for the price in a single record

In [ ]:
data=data[['ProductFamily_ID', 'ProductCategory_ID', 'ProductBrand_ID','ProductName_ID', 'Date', 'Quantity','Total_Sales','Point-of-Sale_ID']]

In [78]:
data.dtypes

Unnamed: 0              int64
ProductFamily_ID        int64
ProductCategory_ID      int64
ProductBrand_ID         int64
ProductName_ID          int64
ProductPackSKU_ID       int64
Point-of-Sale_ID        int64
Date                   object
Quantity              float64
Total_Sales           float64
dtype: object

In [79]:
data['DateTime'] = pd.to_datetime(data['Date'])

In [93]:
data.head()

,Unnamed: 0,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,Quantity,Total_Sales,DateTime
0,0,16,11,36,649,197,1,2017-03-04,2.0,1540.0,2017-03-04
1,1,16,11,36,649,197,1,2016-05-02,4.0,3080.0,2016-05-02
2,2,16,11,36,649,197,1,2016-10-24,2.0,1540.0,2016-10-24
3,3,16,11,36,649,197,1,2017-10-13,2.0,1620.0,2017-10-13
4,4,16,11,36,649,197,1,2017-10-14,2.0,1620.0,2017-10-14

In [55]:
data.groupby(['ProductFamily_ID', 'ProductCategory_ID', 'ProductBrand_ID','ProductName_ID', 'ProductPackSKU_ID', 'Point-of-Sale_ID']).sum()

                                                                                                       Unnamed: 0  \
ProductFamily_ID ProductCategory_ID ProductBrand_ID ProductName_ID ProductPackSKU_ID Point-of-Sale_ID
1                22                 8               2673           823               1                   64061490
                                                                                     2                    5023585
                                                                                     3                   82040920
                                                                                     4                   32556227
                                                                                     5                    4156778
...                                                                                                           ...
21               169                1472            1228           362               391                607537623
                                                                                     395                527577303
                                                                                     396                528537933
                                                                                     398               1681533136
                                                                                     399               1509099197

                                                                                                       Quantity  \
ProductFamily_ID ProductCategory_ID ProductBrand_ID ProductName_ID ProductPackSKU_ID Point-of-Sale_ID
1                22                 8               2673           823               1                      9.0
                                                                                     2                      2.0
                                                                                     3                      3.0
                                                                                     4                      9.0
                                                                                     5                      4.0
...                                                                                                         ...
21               169                1472            1228           362               391                    9.0
                                                                                     395                    7.0
                                                                                     396                    6.0
                                                                                     398                   25.0
                                                                                     399                   24.0

                                                                                                       Total_Sales
ProductFamily_ID ProductCategory_ID ProductBrand_ID ProductName_ID ProductPackSKU_ID Point-of-Sale_ID
1                22                 8               2673           823               1                      8916.0
                                                                                     2                      2371.0
                                                                                     3                      3570.0
                                                                                     4                      9291.0
                                                                                     5                      3655.0
...                                                                                                            ...
21               169                1472            1228           362               391                   13765.0
                                                                                     395                   10460.0
                                                                                     396                    8154.0
                                                                                     398                   39040.0
                                                                                     399                   37324.0

[937454 rows x 3 columns]

In [99]:
data.dtypes

Unnamed: 0                     int64
ProductFamily_ID               int64
ProductCategory_ID             int64
ProductBrand_ID                int64
ProductName_ID                 int64
ProductPackSKU_ID              int64
Point-of-Sale_ID               int64
Date                          object
Quantity                     float64
Total_Sales                  float64
DateTime              datetime64[ns]
dtype: object

In [109]:
data['Year']=pd.DatetimeIndex(data['DateTime']).year

In [117]:
data['Month']=pd.DatetimeIndex(data['DateTime']).month

In [119]:
data.head()

,Unnamed: 0,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,Quantity,Total_Sales,DateTime,Year,Month
0,0,16,11,36,649,197,1,2017-03-04,2.0,1540.0,2017-03-04,2017,3
1,1,16,11,36,649,197,1,2016-05-02,4.0,3080.0,2016-05-02,2016,5
2,2,16,11,36,649,197,1,2016-10-24,2.0,1540.0,2016-10-24,2016,10
3,3,16,11,36,649,197,1,2017-10-13,2.0,1620.0,2017-10-13,2017,10
4,4,16,11,36,649,197,1,2017-10-14,2.0,1620.0,2017-10-14,2017,10

In [ ]:
def top(pos, year):
    df=data[data['Point-of-Sale_ID']==pos & data[pd.DatetimeIndex(data['DateTime']).year == year]]
    upper=4
    lower=0
    quarter=1
    print("Point of sale",pos,", year",year,":\n")
    while upper<14:
        df=df[df['Month']>lower & df['Month']<upper]
        top_family=list(df.groupby('ProductFamily_ID').count().sort_values(by='ProductCategory_ID',ascending = False)[:10].index)
        top_category=list(df.groupby('ProductCategory_ID').count().sort_values(by='ProductFamily_ID',ascending = False)[:10].index)
        top_products_by_quantity=list(df.groupby('ProductName_ID').sum().sort_values(by='Quantity',ascending = False)[:10].index)
        top_products_by_total_sales=list(df.groupby('ProductName_ID').sum().sort_values(by='Total_Sales',ascending = False)[:10].index)
        upper=upper+3
        lower=lower+3
        print("Quarter",quarter,":\n","Top 10 products by quanity sold:", top_products_by_quantity,"\n","Top 10 products by total sales value:", top_products_by_total_sales,"\n","Top 10 product families:", top_family,"\n","Top 10 categories:", top_category,"\n")
        quarter=quarter+1

In [ ]:
top(1,2017)

In [30]:
top_family=list(data[data['Point-of-Sale_ID']==1].groupby('ProductFamily_ID').count().sort_values(by='ProductCategory_ID',ascending = False)[:10].index)
top_family

[9, 1, 12, 21, 2, 15, 18, 14, 8, 16]

In [31]:
top_category=list(data[data['Point-of-Sale_ID']==1].groupby('ProductCategory_ID').count().sort_values(by='ProductFamily_ID',ascending = False)[:10].index)
top_category

[178, 175, 3, 22, 27, 1, 34, 11, 2, 19]

In [40]:
top_products_by_quantity=list(data[data['Point-of-Sale_ID']==1].groupby('ProductName_ID').sum().sort_values(by='Quantity',ascending = False)[:10].index)

In [41]:
top_products_by_total_sales=list(data[data['Point-of-Sale_ID']==1].groupby('ProductName_ID').sum().sort_values(by='Total_Sales',ascending = False)[:10].index)

In [69]:
import plotly.express as px

In [130]:
def market_share (pos):
    df=data[data['Point-of-Sale_ID']==pos].groupby('ProductCategory_ID').sum()[['Quantity','Total_Sales']].reset_index()
    fig_title='Market share by category for point of sale '+str(pos)
    fig = px.pie(df, values='Total_Sales', names='ProductCategory_ID', title=fig_title)
    fig.update_layout(textposition='inside')
    return fig.show()

In [131]:
market_share(1)

MemoryError: Unable to allocate 6.11 GiB for an array with shape (9, 91187506) and data type int64