# Business Case 5

## PoS Applianceâ€™s Retail 

**Group members:**
- Lorenzo Pigozzi	--- m20200745
- Nguyen Huy Phuc	--- m20200566
- Ema Mandura	  --- m20200647
- Xavier Goncalves  --- m20201090

#### **Expected outcomes**

- **How can I understand each Point-of-Sale characteristics ?**\
  Quarterly analysis of
     - Top products sold
     - Market Share (Family, Category), preferences
     - Product co-ocorrences
- **Point-of-Sales Clustering**
 - Value
 - Product preference
- **Forecasting**
 - Units Product forecast (6 weeks ahead)
 - Units Product forecast by Poit-of-Sale (6 weeks ahead)

<a class="anchor" id="0.1"></a>
# **Table of Contents**

1.	[Importing data and libraries](#1)   
2.	[Exploratory data analysis (EDA)](#2)       
3.	[Data Engineering](#3)

# 1. Importing data and libraries <a class="anchor" id="1"></a>

In [1]:
import pandas as pd
import datetime
import time

In [2]:
df = pd.read_csv('dataset/NOVAIMS_MAA_2020e21_BusinessCasesDataScience_MindOverData_RetailChallenge.csv')
# data = pd.read_csv('dataset/NOVAIMS_MAA_2020e21_BusinessCasesDataScience_MindOverData_RetailChallenge.csv', 
#                       iterator=True, chunksize=1000)
# data

In [27]:
# data = pd.concat([chunk for chunk in df])
# df = chunk.copy()

# 2. Exploratory Data Analysis <a class="anchor" id="2"></a>

In [3]:
df.head()

,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,Measures,Value
0,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2017-03-04,Sell-out units,2.0
1,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2017-03-04,Sell-out values,1540.0
2,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2016-05-02,Sell-out units,4.0
3,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2016-05-02,Sell-out values,3080.0
4,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2016-10-24,Sell-out units,2.0

In [4]:
df.shape

(182342304, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182342304 entries, 0 to 182342303
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   ProductFamily_ID    object
 1   ProductCategory_ID  object
 2   ProductBrand_ID     object
 3   ProductName_ID      object
 4   ProductPackSKU_ID   object
 5   Point-of-Sale_ID    object
 6   Date                object
 7   Measures            object
 8   Value               float64
dtypes: float64(1), object(8)
memory usage: 12.2+ GB

In [8]:
df.isna().sum()

ProductFamily_ID      0
ProductCategory_ID    0
ProductBrand_ID       0
ProductName_ID        0
ProductPackSKU_ID     0
Point-of-Sale_ID      0
Date                  0
Measures              0
Value                 0
dtype: int64

# Reducing the size of the dataset

In [6]:
import time

In [7]:
df_units = df[df['Measures'] == "Sell-out units"]
df_values = df[df['Measures'] == "Sell-out values"]

In [27]:
df_units.head()

,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,Measures,Value
0,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2017-03-04,Sell-out units,2.0
2,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2016-05-02,Sell-out units,4.0
4,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2016-10-24,Sell-out units,2.0
6,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2017-10-13,Sell-out units,2.0
7,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2017-10-14,Sell-out units,2.0

In [29]:
df_units['ProductFamily_ID'] = df_units['ProductFamily_ID'].astype('category')
df_units['ProductCategory_ID'] = df_units['ProductCategory_ID'].astype('category')
df_units['ProductBrand_ID'] = df_units['ProductBrand_ID'].astype('category')

<ipython-input-29-7d4fc3192745>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_units['ProductFamily_ID'] = df_units['ProductFamily_ID'].astype('category')
<ipython-input-29-7d4fc3192745>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_units['ProductCategory_ID'] = df_units['ProductCategory_ID'].astype('category')
<ipython-input-29-7d4fc3192745>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_units['ProductBrand_ID'] = df_units['ProductBrand_ID'].astype('category')

In [31]:
df_units['ProductName_ID'] = df_units['ProductName_ID'].astype('category')
df_units['ProductPackSKU_ID'] = df_units['ProductPackSKU_ID'].astype('category')
df_units['Point-of-Sale_ID'] = df_units['Point-of-Sale_ID'].astype('category')

<ipython-input-31-ec88915fa58a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_units['ProductName_ID'] = df_units['ProductName_ID'].astype('category')
<ipython-input-31-ec88915fa58a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_units['ProductPackSKU_ID'] = df_units['ProductPackSKU_ID'].astype('category')
<ipython-input-31-ec88915fa58a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_units['Point-of-Sale_ID'] = df_units['Point-of-Sale_ID'].astype('category')

In [32]:
df_units.head()

,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,Measures,Value
0,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2017-03-04,Sell-out units,2.0
2,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2016-05-02,Sell-out units,4.0
4,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2016-10-24,Sell-out units,2.0
6,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2017-10-13,Sell-out units,2.0
7,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2017-10-14,Sell-out units,2.0

In [34]:
df_units = df_units[['ProductPackSKU_ID', 'Point-of-Sale_ID', 'Date', 'Value']]

In [42]:
df_units.head()

  ProductPackSKU_ID Point-of-Sale_ID        Date  Value
0               197                1  2017-03-04    2.0
2               197                1  2016-05-02    4.0
4               197                1  2016-10-24    2.0
6               197                1  2017-10-13    2.0
7               197                1  2017-10-14    2.0

In [40]:
df_units['ProductPackSKU_ID'] = df_units['ProductPackSKU_ID'].str.replace(r"[^1-9]", "",regex=True)

In [41]:
df_units['Point-of-Sale_ID'] = df_units['Point-of-Sale_ID'].str.replace(r"[^1-9]", "",regex=True)

In [44]:
df_units['ProductPackSKU_ID'] = df_units['ProductPackSKU_ID'].astype('category')
df_units['Point-of-Sale_ID'] = df_units['Point-of-Sale_ID'].astype('category')

In [46]:
df_units["Date"] = pd.to_datetime(df_units["Date"])

In [47]:
df_units.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91171152 entries, 0 to 182342299
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   ProductPackSKU_ID  category
 1   Point-of-Sale_ID   category
 2   Date               datetime64[ns]
 3   Value              float64
dtypes: category(2), datetime64[ns](1), float64(1)
memory usage: 2.4 GB

In [48]:
df_units.to_csv('df_units.csv')

In [8]:
df_values['ProductFamily_ID'] = df_values['ProductFamily_ID'].str.replace(r"[^1-9]", "",regex=True)
df_values['ProductCategory_ID'] = df_values['ProductCategory_ID'].str.replace(r"[^1-9]", "",regex=True)
df_values['ProductBrand_ID'] = df_values['ProductBrand_ID'].str.replace(r"[^1-9]", "",regex=True)

<timed exec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<timed exec>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

KeyboardInterrupt:

In [15]:
df_values['ProductBrand_ID'] = df_values['ProductBrand_ID'].str.replace(r"[^1-9]", "",regex=True)
df_values['ProductName_ID'] = df_values['ProductName_ID'].str.replace(r"[^1-9]", "",regex=True)

<ipython-input-15-c642ae925bad>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_values['ProductBrand_ID'] = df_values['ProductBrand_ID'].str.replace(r"[^1-9]", "",regex=True)
<ipython-input-15-c642ae925bad>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_values['ProductName_ID'] = df_values['ProductName_ID'].str.replace(r"[^1-9]", "",regex=True)

In [17]:
%%time
df_values['ProductPackSKU_ID'] = df_values['ProductPackSKU_ID'].str.replace(r"[^1-9]", "",regex=True)
df_values['Point-of-Sale_ID'] = df_values['Point-of-Sale_ID'].str.replace(r"[^1-9]", "",regex=True)

<timed exec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<timed exec>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Wall time: 14.2 s

In [11]:
%%time
df_values['ProductFamily_ID'] = df_values['ProductFamily_ID'].astype('category')
df_values['ProductCategory_ID'] = df_values['ProductCategory_ID'].astype('category')

<timed exec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<timed exec>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Wall time: 12min 13s

<timed exec>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
%%time
df_values['ProductBrand_ID'] = df_values['ProductBrand_ID'].astype('category')
df_values['ProductName_ID'] = df_values['ProductName_ID'].astype('category')
df_values['ProductPackSKU_ID'] = df_values['ProductPackSKU_ID'].astype('category')
df_values['Point-of-Sale_ID'] = df_values['Point-of-Sale_ID'].astype('category')

<timed exec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<timed exec>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<timed exec>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Wall time: 59.7 s

<timed exec>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
%%time
df_values['Value'] = df_values['Value'].astype('float32')
df_values['Measures'] = df_values['Measures'].astype('category')
df_values["Date"] = pd.to_datetime(df_values["Date"])

<timed exec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<timed exec>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Wall time: 2min 35s

<timed exec>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
df_values.to_csv('df_values.csv')

# Joining the units and Values

In [49]:
df_values.head()

,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,Measures,Value
1,16,11,36,649,197,1,2017-03-04,Sell-out values,1540.0
3,16,11,36,649,197,1,2016-05-02,Sell-out values,3080.0
5,16,11,36,649,197,1,2016-10-24,Sell-out values,1540.0
9,16,11,36,649,197,1,2017-10-13,Sell-out values,1620.0
10,16,11,36,649,197,1,2017-10-14,Sell-out values,1620.0

In [50]:
df_values.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91171152 entries, 1 to 182342303
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   ProductFamily_ID    category
 1   ProductCategory_ID  category
 2   ProductBrand_ID     category
 3   ProductName_ID      category
 4   ProductPackSKU_ID   object
 5   Point-of-Sale_ID    object
 6   Date                datetime64[ns]
 7   Measures            category
 8   Value               float32
dtypes: category(5), datetime64[ns](1), float32(1), object(2)
memory usage: 3.7+ GB

In [52]:
df_units.head()

  ProductPackSKU_ID Point-of-Sale_ID       Date  Value
0               197                1 2017-03-04    2.0
2               197                1 2016-05-02    4.0
4               197                1 2016-10-24    2.0
6               197                1 2017-10-13    2.0
7               197                1 2017-10-14    2.0

In [54]:
df_units.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91171152 entries, 0 to 182342299
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   ProductPackSKU_ID  category
 1   Point-of-Sale_ID   category
 2   Date               datetime64[ns]
 3   Value              float64
dtypes: category(2), datetime64[ns](1), float64(1)
memory usage: 2.4 GB

In [55]:
target_columns = ['ProductPackSKU_ID', 'Point-of-Sale_ID', 'Date']

In [ ]:
# df_join = pd.merge(df_units, df_values, on = target_columns)

df_join = pd.merge(df_values, df_units, 
                   on = target_columns, 
                   how="left")

In [ ]:
target_columns = df.columns[:6]
for column in target_columns:
    df[column] = df[column].str.replace(r"[^1-9]", "",regex=True)
    df[column] = df[column].astype('category')

In [28]:
import time
%%time
df['Value'] = df['Value'].astype('float32')
df['Measures'] = df['Measures'].astype('category')
df["Date"] = pd.to_datetime(df["Date"])

In [42]:
df_units = df[df['Measures'] == "Sell-out units"]
df_values = df[df['Measures'] == "Sell-out values"]

In [65]:
target_columns = ['ProductFamily_ID', 'ProductCategory_ID', 'ProductBrand_ID','ProductName_ID', 'ProductPackSKU_ID', 'Point-of-Sale_ID', 'Date']

In [53]:
# df = 'a'

In [77]:
df_units["Date"] = pd.to_datetime(df_units["Date"])
df_values["Date"] = pd.to_datetime(df_values["Date"])

<ipython-input-77-01a0fe5e25f1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_values["Date"] = pd.to_datetime(df_values["Date"])

In [ ]:
df_units

In [ ]:
# joining the quantity and price in the same record
# target_columns = df.columns[0:7]
df_values["Quantity"] = 0

for i in df_units.index:
    values1 = [df_units[z][i] for z in target_columns]
    
    for j in df_values.index:
        values2 = [df_values[z][j] for z in target_columns]
        
        if values1 == values2:
            df_values["Quantity"][j] = df_units.loc[i]["Value"]

<ipython-input-85-60c0a984355d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_values["Quantity"] = 0
<ipython-input-85-60c0a984355d>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_values["Quantity"][j] = df_units.loc[i]["Value"]
C:\Users\lorep\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [80]:
df_join = pd.merge(df_units, df_values, on = target_columns)

MemoryError: Unable to allocate 696. MiB for an array with shape (91171152,) and data type int64

In [ ]:
df_join.drop(['Measures_x','Measures_y'],axis=1,inplace=True)
df_join.rename(columns={'Value_x':'Quantity','Value_y':'Total_Sales'},inplace=True)

In [ ]:
def preprocessing(_df):
    target_columns = ['ProductFamily_ID', 'ProductCategory_ID', 'ProductBrand_ID','ProductName_ID', 'ProductPackSKU_ID', 'Point-of-Sale_ID', 'Date']
    cols = ['ProductFamily_ID', 'ProductCategory_ID', 'ProductBrand_ID','ProductName_ID', 'ProductPackSKU_ID', 'Point-of-Sale_ID']
    # keeping only the number of the ID for all the varaibles
    for col in cols:
        _df[col]=_df[col].str.replace(r"[^1-9]", "",regex=True)
    # splitting the chunk-dataset in 2, one for the record with quantity and one for price
    df_units = _df[_df['Measures'] == "Sell-out units"]
    df_values = _df[_df['Measures'] == "Sell-out values"]
    # joining the quantity and price in the same record
    df_join = pd.merge(df_units,df_values,on = target_columns)
    df_join.drop(['Measures_x','Measures_y'],axis=1,inplace=True)
    df_join.rename(columns={'Value_x':'Quantity','Value_y':'Total_Sales'},inplace=True)
    return df_join

In [27]:
df

,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,Measures,Value
0,16,11,36,649,197,1,2017-03-04,Sell-out units,2.0
1,16,11,36,649,197,1,2017-03-04,Sell-out values,1540.0
2,16,11,36,649,197,1,2016-05-02,Sell-out units,4.0
3,16,11,36,649,197,1,2016-05-02,Sell-out values,3080.0
4,16,11,36,649,197,1,2016-10-24,Sell-out units,2.0
...,...,...,...,...,...,...,...,...,...
182342299,4,34,279,577,1813,41,2016-04-29,Sell-out units,1.0
182342300,4,34,279,577,1813,41,2016-04-20,Sell-out values,638.0
182342301,4,34,279,577,1813,41,2016-04-25,Sell-out values,652.0
182342302,4,34,279,577,1813,41,2016-04-28,Sell-out values,643.0
182342303,4,34,279,577,1813,41,2016-04-29,Sell-out values,638.0

In [ ]:
dtype_dict = {
    'ProductFamily_ID':'category',
    'ProductCategory_ID':'category',
    'ProductBrand_ID':'category',
    'ProductName_ID':'category',
    'ProductPackSKU_ID':'category',
    'Point-of-Sale_ID':'category',
    'Measures':'category',
    'Value':'float32'
}

# 3. Data engineering <a class="anchor" id="3"></a>

In [8]:
df

,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,Measures,Value
0,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2017-03-04,Sell-out units,2.0
1,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2017-03-04,Sell-out values,1540.0
2,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2016-05-02,Sell-out units,4.0
3,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2016-05-02,Sell-out values,3080.0
4,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2016-10-24,Sell-out units,2.0
...,...,...,...,...,...,...,...,...,...
182342299,Family_4,Category_34,ProductBrand_279,ProductName_577,ProductSKU_1813,POS_410,2016-04-29,Sell-out units,1.0
182342300,Family_4,Category_34,ProductBrand_279,ProductName_577,ProductSKU_1813,POS_410,2016-04-20,Sell-out values,638.0
182342301,Family_4,Category_34,ProductBrand_279,ProductName_577,ProductSKU_1813,POS_410,2016-04-25,Sell-out values,652.0
182342302,Family_4,Category_34,ProductBrand_279,ProductName_577,ProductSKU_1813,POS_410,2016-04-28,Sell-out values,643.0
182342303,Family_4,Category_34,ProductBrand_279,ProductName_577,ProductSKU_1813,POS_410,2016-04-29,Sell-out values,638.0

In [ ]:
df['ProductFamily_ID'] = df['ProductFamily_ID'].str.split('_',expand=True)[1]

In [4]:
for chunk in data:
    df = chunk
    # keeping only the number of the ID for all the varaibles
    df['ProductFamily_ID'] = df['ProductFamily_ID'].str.split('_',expand=True)[1]
    df['ProductCategory_ID'] = df['ProductCategory_ID'].str.split('_',expand=True)[1]
    df['ProductBrand_ID'] = df['ProductBrand_ID'].str.split('_',expand=True)[1]
    df['ProductName_ID'] = df['ProductName_ID'].str.split('_',expand=True)[1]
    df['ProductPackSKU_ID'] = df['ProductPackSKU_ID'].str.split('_',expand=True)[1]
    df['Point-of-Sale_ID'] = df['Point-of-Sale_ID'].str.split('_',expand=True)[1]
    df['Measures'] = df['Measures'].str.split(' ',expand=True)[1]

KeyboardInterrupt:

In [50]:
df.head()

,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,Measures,Value
5429000,12,178,788,1527,4668,12,2017-07-29,units,1
5429001,12,178,788,1527,4668,12,2017-07-31,units,1
5429002,12,178,788,1527,4668,12,2017-07-18,values,886
5429003,12,178,788,1527,4668,12,2017-07-19,values,886
5429004,12,178,788,1527,4668,12,2017-07-24,values,1772

In [43]:
# for the hole dataset
df2['Measures'].value_counts()

Sell-out values    91171152
Sell-out units     91171152
Name: Measures, dtype: int64

We have the same number of 'Sell-out values' and 'Sell-out units', meaning that it's always record byt pair of records.

\
**Idea**\
Creating for each combination of ProductFamily_ID, ProductCategory_ID, ProductBrand_ID, ProductName_ID, ProductPackSKU_ID, Point-of-Sale_ID and Date one column for the quantity and one column for the price in a single record

In [51]:
df.head()

,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,Measures,Value
5429000,12,178,788,1527,4668,12,2017-07-29,units,1
5429001,12,178,788,1527,4668,12,2017-07-31,units,1
5429002,12,178,788,1527,4668,12,2017-07-18,values,886
5429003,12,178,788,1527,4668,12,2017-07-19,values,886
5429004,12,178,788,1527,4668,12,2017-07-24,values,1772

In [69]:
# splitting the chunk-dataset in 2, one for the record with quantity and one for price
df_units = df[df['Measures'] == "units"]
df_values = df[df['Measures'] == "values"]

In [82]:
# joining the quantity and price in the same record
target_columns = df.columns[0:7]
df_values["Quantity"] = 0

for i in df_units.index:
    values1 = [df_units[z][i] for z in target_columns]
    
    for j in df_values.index:
        values2 = [df_values[z][j] for z in target_columns]
        
        if values1 == values2:
            df_values["Quantity"][j] = df_units.loc[i]["Value"]

<ipython-input-82-7b8c61be7787>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_values["Quantity"] = 0
<ipython-input-82-7b8c61be7787>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_values["Quantity"][j] = df_units.loc[i]["Value"]
C:\Users\lorep\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [95]:
# dropping the variable 'Measures'
df_values.drop("Measures", 1, inplace= True)

C:\Users\lorep\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [108]:
# checkpoint
data = df_values.copy()

# resetting the index of the dataset
data = data.reset_index(drop=True)
# changing the type of the Date to datetime
data["Date"] = pd.to_datetime(data["Date"])
# changing the name of the Value variable
data = data.rename(columns = {'Value':'Price'})

In [116]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ProductFamily_ID    501 non-null    object
 1   ProductCategory_ID  501 non-null    object
 2   ProductBrand_ID     501 non-null    object
 3   ProductName_ID      501 non-null    object
 4   ProductPackSKU_ID   501 non-null    object
 5   Point-of-Sale_ID    501 non-null    object
 6   Date                501 non-null    datetime64[ns]
 7   Price               501 non-null    int64
 8   Quantity            501 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 35.4+ KB

In [115]:
data.iloc[10:20]

,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,Price,Quantity
10,12,178,788,1527,4668,12,2016-08-12,1772,2
11,12,178,788,1527,4668,12,2018-08-21,886,1
12,12,178,788,1527,4668,12,2018-08-23,1772,2
13,12,178,788,1527,4668,12,2018-08-24,1772,2
14,12,178,788,1527,4668,12,2018-08-29,886,1
15,12,178,788,1527,4668,12,2018-08-31,886,1
16,12,178,788,1527,4668,12,2016-01-06,1772,2
17,12,178,788,1527,4668,12,2016-01-08,886,1
18,12,178,788,1527,4668,12,2016-01-14,1772,2
19,12,178,788,1527,4668,12,2017-12-08,886,1