# 1. Importing data and libraries <a class="anchor" id="1"></a>

In [1]:
import pandas as pd
import datetime

In [2]:
dtype_dict = {
    'ProductFamily_ID':'category',
    'ProductCategory_ID':'category',
    'ProductBrand_ID':'category',
    'ProductName_ID':'category',
    'ProductPackSKU_ID':'category',
    'Point-of-Sale_ID':'category',
    'Measures':'category',
    'Value':'float32'
}
path = r'D:\NOVAIMS_MAA\NOVAIMS_MAA_2020e21_BusinessCasesDataScience_MindOverData_RetailChallenge.csv'

In [3]:
def preprocessing(_df):
    target_columns = ['ProductFamily_ID', 'ProductCategory_ID', 'ProductBrand_ID','ProductName_ID', 'ProductPackSKU_ID', 'Point-of-Sale_ID', 'Date']
    cols = ['ProductFamily_ID', 'ProductCategory_ID', 'ProductBrand_ID','ProductName_ID', 'ProductPackSKU_ID', 'Point-of-Sale_ID']
    # keeping only the number of the ID for all the varaibles
    for col in cols:
        _df[col]=_df[col].str.replace(r"[^0-9]", "",regex=True)
    # splitting the chunk-dataset in 2, one for the record with quantity and one for price
    df_units = _df[_df['Measures'] == "Sell-out units"]
    df_values = _df[_df['Measures'] == "Sell-out values"]
    # joining the quantity and price in the same record
    df_join = pd.merge(df_units,df_values,on = target_columns)
    df_join.drop(['Measures_x','Measures_y'],axis=1,inplace=True)
    df_join.rename(columns={'Value_x':'Quantity','Value_y':'Total_Sales'},inplace=True)
    return df_join

In [7]:
df = pd.read_csv(path,nrows=100000)
#data = pd.read_csv('dataset/NOVAIMS_MAA_2020e21_BusinessCasesDataScience_MindOverData_RetailChallenge.csv', iterator=True, chunksize=1000)
df

,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,Measures,Value
0,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2017-03-04,Sell-out units,2.0
1,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2017-03-04,Sell-out values,1540.0
2,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2016-05-02,Sell-out units,4.0
3,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2016-05-02,Sell-out values,3080.0
4,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2016-10-24,Sell-out units,2.0
...,...,...,...,...,...,...,...,...,...
99995,Family_9,Category_178,ProductBrand_94,ProductName_198,ProductSKU_612,POS_1,2018-02-21,Sell-out values,2985.0
99996,Family_9,Category_178,ProductBrand_94,ProductName_198,ProductSKU_612,POS_1,2018-02-23,Sell-out values,1194.0
99997,Family_9,Category_178,ProductBrand_94,ProductName_198,ProductSKU_612,POS_1,2018-02-26,Sell-out values,4179.0
99998,Family_9,Category_178,ProductBrand_94,ProductName_198,ProductSKU_612,POS_1,2018-02-27,Sell-out values,1194.0
99999,Family_9,Category_178,ProductBrand_94,ProductName_198,ProductSKU_612,POS_1,2018-02-28,Sell-out values,1194.0

In [4]:
# load the big file in smaller chunks
#final = pd.read_csv(write,nrows=1)
i = 0
for gm_chunk in pd.read_csv(path,dtype=dtype_dict,chunksize=1000000):  
    #gm_chunk.drop("Unnamed: 0",axis=1,inplace = True)
    processed_df = preprocessing(gm_chunk)
    if i == 0:
        final = processed_df
        i +=1
    else:
        i +=1
        if i%5 == 0:
            print(i)
        final = pd.concat([final,processed_df],ignore_index = True)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180

In [5]:
write_processed = r'D:\NOVAIMS_MAA\NOVAIMS_MAA_final_1.csv'
final.to_csv(write_processed)

In [6]:
final.dtypes

ProductFamily_ID       object
ProductCategory_ID     object
ProductBrand_ID        object
ProductName_ID         object
ProductPackSKU_ID      object
Point-of-Sale_ID       object
Date                   object
Quantity              float32
Total_Sales           float32
dtype: object

# 2. Exploratory Data Analysis <a class="anchor" id="2"></a>

In [ ]:
df.head()

# 3. Data engineering <a class="anchor" id="3"></a>

In [ ]:
df.dtypes

In [ ]:
def preprocessing(_df):
    target_columns = ['ProductFamily_ID', 'ProductCategory_ID', 'ProductBrand_ID','ProductName_ID', 'ProductPackSKU_ID', 'Point-of-Sale_ID', 'Date']
    cols = ['ProductFamily_ID', 'ProductCategory_ID', 'ProductBrand_ID','ProductName_ID', 'ProductPackSKU_ID', 'Point-of-Sale_ID']
    # keeping only the number of the ID for all the varaibles
    for col in cols:
        _df[col]=_df[col].str.replace(r"[^0-9]", "",regex=True)
    # splitting the chunk-dataset in 2, one for the record with quantity and one for price
    df_units = _df[_df['Measures'] == "Sell-out units"]
    df_values = _df[_df['Measures'] == "Sell-out values"]
    # joining the quantity and price in the same record
    df_join = pd.merge(df_units,df_values,on = target_columns)
    df_join.drop(['Measures_x','Measures_y'],axis=1,inplace=True)
    df_join.rename(columns={'Value_x':'Quantity','Value_y':'Total_Sales'},inplace=True)
    return df_join

In [ ]:
%%time
preprocessing(data)

We have the same number of 'Sell-out values' and 'Sell-out units', meaning that it's always record byt pair of records.

\
**Idea**\
Creating for each combination of ProductFamily_ID, ProductCategory_ID, ProductBrand_ID, ProductName_ID, ProductPackSKU_ID, Point-of-Sale_ID and Date one column for the quantity and one column for the price in a single record